html, body {
  margin: 0;
  height: 100%;
}
.root {
  background: radial-gradient(#00415a, black);
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.root a {
  color: rgb(130, 5, 161);
  text-decoration: none;
}
.root a:hover, .root a:visited:hover {
  color: rgb(220, 25, 238);
}
.root a:visited {
  color: rgb(151, 56, 130);
}
.content {
  font-family: sans-serif;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1000px;
  width: 80%;
  min-width: 600px;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: column;
}
.section--links {
  font-weight: 400;
  font-size: 24px;
  padding: 64px 0;
}
.dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px 0;
  margin: 0 -16px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  width: 180px;
}
.dropdown-select {
  font-size: 16px;
  background: #3088aa;
  color: #fff;
  padding: 8px;
  border: none;
  box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.5);
}
.demo-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.demo-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  max-height: 2000px;
  padding: 56px;
  background-color: #181818;
  box-shadow: 0 16px 60px 0 rgba(0, 0, 0, 0.5);
}
.demo-screen-text {
  font-family: monospace;
  color: #fff; /* TODO: remove when implement html renderer */
  white-space: pre;
}
.header, .footer {
  display: flex;
  flex-direction: row;
  padding: 32px;
  align-self: stretch;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.footer {
  justify-content: space-evenly;
  background: #111;
}
.hero {
  text-align: center;
}

.hero h1 {
  font-family: serif;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.2;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

