html, body {
  margin: 0;
  height: 100%;
}
.app-root.app-root--ready {

  background-color: #00415a;
  background-size: 100% 50%, 100% 100%;
  background-position: 50% 100%, 50% 50%;
}
.app-root {
  background: linear-gradient(180deg, #00415a00, #00415a), radial-gradient(rgba(0, 162, 255, 0), #231e4644, #27000098);
  background-color: #00161f;
  background-position: 50% 200%, 50% 50%;
  background-attachment: local, fixed;
  background-size: 100% 50%, 200% 200%;
  background-repeat: no-repeat;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  transition: background-color 8s, background-size 8s, background-position 8s;
  transition-delay: 0s, 4s, 4s;
}
.app-root a {
  /* color: rgb(130, 5, 161); */
  color: rgb(241, 227, 157);
  text-decoration: none;
}
.app-root a:hover {
  color: #fdffdd;
}

.content {
  font-family: sans-serif;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.content.content--fullwidth {
  width: 100%;
}

.app-root.app-root--ready .content.content--live-demo {
  opacity: 1;
}
.content.content--live-demo {
  opacity: 0;
  transition: opacity 2s;
}
.section {
  display: flex;
  flex-direction: column;
}
.section--links {
  font-family: serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  padding-top: 96px;
  padding-bottom: 64px;
}
.dropdowns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 0;
  margin: -16px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 180px;
}
.dropdown-select {
  font-size: 16px;
  background: #3088aa;
  color: #fff;
  padding: 8px;
  border: none;
  box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.5);
}
.demo-screen-block-cells {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.demo-screen-block-cell {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.demo-screen-block {
  display: flex;
  flex-direction: column;
}

.demo-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 25vh;
  max-height: 2000px;
  padding: 56px;
  background-color: #181818;
  box-shadow: 0 16px 60px 0 rgba(0, 0, 0, 0.5);
}
.demo-screen-text {
  font-family: monospace;
  word-break: break-all;
}
.demo-screen-text--source {
  font-family: monospace;
  white-space: pre-wrap;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  align-self: stretch;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.footer {
  justify-content: space-evenly;
  background: #111;
}
.hero {
  text-align: center;
  margin-top: 22px;
}

.hero p {
  font-style: italic;
  font-size: 20px;
}

.hero h1 {
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  font-size: 91px;
  line-height: 1.2;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0;
}
.hero h3 {
  font-family: serif;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
  margin: 24px;
}
.hero .bracketed-tree {
  font-size: 46px;
  margin: 52px;
  margin-bottom: 72px;
  padding: 0;
  line-height: 1.2;
  text-shadow: 0px 0px 50px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff;
}

.hero hr {
  border: none;
  margin-top: 76px;
  border-bottom: 1px solid #fff;
  margin-bottom: 64px;
}
.demo-screen-block label, .dropdown label {
  margin-bottom: 6px;
}